@import "./_variables.scss";

@media (min-width: 800px) {
  .header-bar {
    padding: 10px 50px 10px;

    & .menu-button {
      right: 50px;
    }
  }

  .layout-main {
    margin-top: 110px;
    width: 70%;
    padding: 5px 50px 5px;
  }
}

@media (max-width: 799px) {
  .header-bar {
    padding: 10px 20px 10px;

    & .menu-button {
      right: 20px;
    }
  }

  .layout-main {
    margin-top: 76px;
    padding: 5px 20px 5px;
    min-height: 100vh;
  }
}

.header-bar {
  & .headshot {
    max-height: 100%;
    border-radius: 100%;
  }

  & .menu-button {
    display: inline-block;
    background-color: #ffffff;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    padding: 0 1rem;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    height: 30px;
    margin-top: 10px;
  }

  border-bottom: 6px solid $secondary-color;
  height: 50px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.layout-background {
  background-color: $tertiary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 110px;
  min-height: 100vh;
  z-index: -1;
}

.layout-main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  & .title {
    color: $primary-color;
  }

  & .content {
    color: $secondary-color;
    line-height: 1.6;
  }
}
