@media (min-width: 800px) {
    .likes-grid {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 799px) {
    .likes-grid {
        grid-template-columns: 100%;
    }
}
.likes-grid {
    display: grid;

    & .likes-column-header {
        text-align: center;
        font-weight: 700;
    }
}