@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
@import "./_variables.scss";

html {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: darken($secondary-color, 10%);
}

.name {
  text-align: center;
  font-weight: 700;
  margin: 20px 0px 5px;
  color: $primary-color;
}

.jobs {
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  color: $secondary-color;
}

@media (min-width: 400px) {
  .landing-page-container {
    background-image: url("../../images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
  }

  .landing-overlay {
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    border-top: 6px solid #7081b3;
    max-width: 400px;
    flex: 0 1 80%;
    margin: auto;
  }
}

@media (max-width: 399px) {
  .landing-overlay {
    height: 100vh;
  }
}

@media (max-height: 300px) {
  .landing-overlay-content {
    padding-top: 5px;
  }
}

@media (min-height: 301px) {
  .landing-overlay-content {
    padding-top: 20px;
  }
}

.landing-page-container {
  min-height: 100vh;
}

.landing-overlay {
  background-color: #ffffff;
}

.landing-overlay-content .headshot {
  margin: auto;
  display: block;
  border-radius: 100%;
}
